#main_homepage{
    display: flex;
}
input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
    -webkit-appearance: none; /* For Chrome, Safari, Edge */
    appearance: none; /* Modern browsers */
}
  
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Ensures proper alignment */
}
