
/* Sign-up Page Styles */
#signup_main {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f4f8;
    font-family: 'Arial', sans-serif;
}

#logoDivSignin {
    margin-bottom: 20px;
}

#signupDiv {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
#signup_profileImg{
    width: 10rem;
    height: 10rem;
    margin: auto;
    margin-bottom: 1rem;
}
#signup_profileImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

#signup_detail input[type="text"],
#signup_detail input[type="number"],
#signup_detail input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#signup_detail input[type="text"]:focus,
#signup_detail input[type="number"]:focus,
#signup_detail input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

#signup_submit button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#signup_submit button:hover {
    background: #0056b3;
}

#signup_submit button:active {
    background: #004080;
}

#signupLink {
    color: #007bff;
    text-decoration: none;
    font-weight:500;
}

#signupLink:hover {
    text-decoration: underline;
}

#signupLink:active {
    color: #0056b3;
}

/* p {
    margin: 0;
} */

@media (max-width: 480px) {
    #signup_main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #signupDiv {
        width: 65%;
        margin-bottom: 2rem;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #signup_main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #signupDiv {
        width: 65%;
        margin-bottom: 5rem;
    }
}
